{% load static %}

<html>
    <head>
        <title>Bruninho's Shop</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/store.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="{% url 'store:product_list' %}">Bruninho's Shop</a></h1>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
