{% extends 'loja/base.html' %}
{% load static %}

{% block content %}
    <div class="content container">
        <div class="row">
            {% for product in products %}
                <div class="col-md-3" style="float: left">
                    <a href="{% url 'loja:productDetail' pk=product.pk %}">
                        <center>
                            <img style="display: block; height:180px ; width: 240px;" src="{{product.image.url}}">
                            <h2>{{ product.name }}</h2>
                        </center>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
